---
import { schemas } from "@repo/data";
import {} from "@repo/api";
import Layout from "../layouts/Layout.astro";

const users: { users: (typeof schemas.usersModel.static)[] } = await fetch(
  new URL("/api/users", Astro.url)
).then((res) => res.json());
---

<Layout>
  <h1>Welcome to Astro!</h1>
  <ul>
    {users.users.map((user) => <li>{user.username}</li>)}
  </ul>
</Layout>
